.providerBox{
    width: 100%;
    height: 175px;
    background-image: url('/img/banner/bgProvider.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    border-radius: 25px;
    box-shadow: 4px 4px 8px #767474;
    cursor: pointer;
}

.providerBox img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 7%;
    left: 6%;
    object-fit: cover;
    object-position: center;
}

.providerInfos{
    display: flex;
    flex-direction: column;
    padding-left: 50%;
    padding-top: 5%;
}

.readMore{
    color: var(--blue);
}

.providerInfos h3{
    font-family: var(--font);
    font-size: 18px;
}

.providerInfos p{
    font-family: var(--font);
    font-size: 0.7em;
}

.providerResum{
    margin-left: 2%;
    margin-top:5%;
    max-width: 150px;
    font-size: 14px;
}

.starSponsored{
    display: flex;
    max-width: 200px;
    gap: 8px;
    color: #ffcd29;
    font-size: 23px;
    position: absolute;
    bottom: 10px;
}


@media screen and (max-width:1550px) {
    .providerBox{
        width: 100%;
    }
.providerBox img{
    top: 5%;
    left: 5%;
}

.starSponsored{
    display: flex;
    max-width: 200px;
    gap: 8px;
    padding-top:10% ;
    color: #ffcd29;
    font-size: 1.5em;
    
}


}

@media screen and (max-width:1420px) {
  .providerBox img{
    top: 8%;
    left: 5%;
}
}

@media screen and (max-width:1220px) {


      .providerBox img{
    top: 8%;
    left: 5%;
 
}
 
}

@media screen and (max-width:1050px) {


      .providerBox img{
    top: 8%;
    left: 5%;
    
    
}
 
}

@media screen and (max-width:900px) {

      .providerBox img{
    top: 8%;
    left: 5%;
    
    
}
 
}

@media screen and (max-width:830px) {

      .providerBox img{
    top: 10%;
    left: 5%;
  
    
}
 
}

@media screen and (max-width:700px) {


      .providerBox img{
    top: 8%;
    left: 5%;
  
    
}

.providerBox{
width: 98%;

}
 
}