.chatIcon{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}

.popup{
    width: 400px;
}


.popupMenu{
    display:flex;
    background-color: #ff6a00;
    padding: 10px 35px ;
    font-size:15px;
    color: white;
    font-family:var(--font);
}