.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
    background-image: url('/img/gif/servicosja.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}